1. Import required libraries

In [58]:
import pandas as pd

2. Read the dataset

In [59]:
data = pd.read_csv('Maths.csv')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

3. How many rows the dataset contains?

In [60]:
len(data)

395

4. Does the dataset contain NaNs?

In [61]:
data.isna().any().any()

False

In [62]:
pd.set_option('display.max_columns', None)
print(data.head(1))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home  teacher

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  course   mother           2          2         0       yes     no   no

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         no     yes    yes       no       no       4         3      4     1

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6

5. Compare students with parents living apart vs students whose parents live together. Which group consumes more alcohol?

Чи студенти, у яких батьки живуть окремо, споживають більше алкоголю, ніж студенти, у яких батьки живуть разом

In [63]:
## СЕРЕДНЬО СКІЛЬКИ ПЮТЬ
a = data[data['Pstatus'] == 'A']
a['Walc'].mean()

t =data[data['Pstatus'] == 'T']
t['Walc'].mean()

2.2937853107344632

In [64]:
data.groupby('Pstatus')['Walc'].mean()

Pstatus
A    2.268293
T    2.293785
Name: Walc, dtype: float64

6. Do families living in village have more children? Report the difference in %.

Наскільки більше у відсотках сільські сім'ї мають більше дітей?

In [22]:
family_size_by_address = data.groupby('address')['famsize'].value_counts(normalize=True).unstack()
rural_family_size = family_size_by_address.loc['R', 'GT3'] * 100
urban_family_size = family_size_by_address.loc['U', 'GT3'] * 100
rural_family_size - urban_family_size

7.891619780870585

7. Does the lack of internet influence the student marks?

Наскільки відсутність інтернету дома впливає на оцінки студента?

In [52]:
# ANSWER HERE:
data['G4'] = data['G1']+ data['G2'] +data['G3']
data.groupby('internet')['G4'].mean()

internet
no     29.500000
yes    32.547112
Name: G4, dtype: float64

8. Does alcohol consumption during weekends influence the absence at lessons?

Наскільки вживання алкоголю по вихідним впливає на пропуски занять?

In [53]:
# ANSWER HERE:
data.groupby('Walc')['absences'].mean()

Walc
1    4.854305
2    4.588235
3    6.425000
4    8.333333
5    6.892857
Name: absences, dtype: float64

9. Compare students whose parents work at health vs others. Does the level of alcohol comsumptions at weekdays differ for those 2 groups?

Чи відрізняється показник вживання алкоголю по буднях у студентів, у яких батько або мати працюють у сфері охорони здоров'я порівняно з іншими студентами?

In [24]:
# ANSWER HERE:
health_work = data[(data['Mjob'] == 'health') | (data['Fjob'] == 'health')]
other_work = data[(data['Mjob'] != 'health') & (data['Fjob'] != 'health')]
diff = health_work['Dalc'].mean() - other_work['Dalc'].mean()
if diff == 0:
    print('no difference')
else:
    print(f'difference is {diff}')

difference is -0.22455462813006122

10. Compare students living in village vs city. Which group of students miss more lessons?

Яка група студентів більше пропускає занять: ті, які живуть у місті, чи в селах?

In [25]:
# ANSWER HERE:
u = data[data['address'] == 'U'] 
r = data[data['address'] == 'R']
if (u['absences'].sum() - r['absences'].sum()) > 0:
    print('in city')
else:
    print('in village')

in city

11. What is the % of students with max level of health does extra-curricular activities?

Який відсоток студентів, які мають максимальну оцінку здоров'я, відвідують позапланові заходи?

In [30]:
# ANSWER HERE:
with_max_health = data[data['health'] == 5]
sum_child = len(with_max_health)
with_activities = with_max_health[with_max_health['activities'] == 'yes']
sum_with_activities = len(with_activities)
percent = sum_with_activities/sum_child*100
print(round(percent,2),'%')

52.74 %

12. Consider a group of families with 3 and more children vs a group of all other students. Which group has better family relationship?

Які сім'ї мають кращі стосунки у сім'ї: багатодітні (3 і більше дітей) чи з 1-2 дітьми?

In [33]:
# ANSWER HERE:
gt3 = data[data['famsize'] == 'GT3']
gt3.famrel.mean()
lt3 = data[data['famsize'] == 'LE3']
lt3.famrel.mean()
if (gt3.famrel.mean() - lt3.famrel.mean())> 0:
    print('багатодітні')
else:
    print('з 1-2 дітьми')

багатодітні

13. Report the % of students with family relationship <= 2 that do not want to take higher education.

Який відсоток студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому?

In [34]:
# ANSWER HERE:
stud = data[data['famrel'] <= 2]
no_high_educ = stud[stud['higher'] == 'no']
per = len(no_high_educ)/(len(stud))*100
print(round(per,2),'%')

3.85 %

14. Report the % of students who consume more than average amount of alcohol going out with friends the most?

Який відсоток студентів, які споживають взагальному(і по буднях і по вікендах) алкоголю більше середнього, гуляють з друзями найбільше?

In [35]:
# ANSWER HERE:
alco = data['Walc'].mean() + data['Dalc'].mean()
go_out_most = data[((data['Walc'] + data['Dalc']) > alco) & (data['goout'] == 5)]
number_go_out_most = len(go_out_most)
number_students = len(data)
per = (number_go_out_most/number_students)*100
print(round(per,2),'%')

9.87 %

15. Come up with 3 more questions and provide solutions for them.

Придумайте своїх 3 запитання і напишіть для них розв'язок.

### 1) How much children under 18 drink much alcohol (>2)?

In [38]:
small_child = data[(data['age'] < 18) & ((data['Dalc'] > 2) | (data['Walc'] > 2))]
len(small_child)

114

### 2)Are students who have extra educational support (schoolsup) more likely to pass their final exams (G3) than those who do not have extra support?

In [40]:
passing_rate_with_support = len(data[(data['schoolsup'] == 'yes') & (data['G3'] >= 10)]) / len(data[data['schoolsup'] == 'yes'])
passing_rate_without_support = len(data[(data['schoolsup'] == 'no') & (data['G3'] >= 10)]) / len(data[data['schoolsup'] == 'no'])
print(f"Passing rate with support: {passing_rate_with_support:.2%}")
print(f"Passing rate without support: {passing_rate_without_support:.2%}")

Passing rate with support: 54.90%
Passing rate without support: 68.90%

### 3)Is there a correlation between students' study time (studytime) and their final grades (G3)?

In [42]:
correlation = data['studytime'].corr(data['G3'])
if correlation > 0:
    print("positive correlation between study time and final grades.")
elif correlation < 0:
    print("negative correlation between study time and final grades.")
else:
    print("no correlation between study time and final grades.")

positive correlation between study time and final grades.