In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('covid-data.csv')
data

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320267,320267,ZWE,Africa,Zimbabwe,2023-06-17,265289.0,0.0,18.286,5702.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
320268,320268,ZWE,Africa,Zimbabwe,2023-06-18,265289.0,0.0,18.286,5702.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
320269,320269,ZWE,Africa,Zimbabwe,2023-06-19,265413.0,124.0,17.714,5707.0,5.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
320270,320270,ZWE,Africa,Zimbabwe,2023-06-20,265413.0,NaN,NaN,5707.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
320271,320271,ZWE,Africa,Zimbabwe,2023-06-21,265413.0,NaN,NaN,5707.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

1. Яка загальна кількість випадків Covid-19 у світі?

In [4]:
data['total_cases'].sum()

1700886931193.0

2. Яка середня кількість нових випадків на мільйон людей?

In [5]:
data['new_cases_per_million'].mean()

158.00668302977743

3. У скількох країнах reproduction rate більше 2?

In [39]:
reproduction = data[data['reproduction_rate'] > 2]['location'].unique()
len(reproduction)

97

4. У якій країні найвища надлишкова смертність (excess_mortality_cumulative_per_million) на мільйон осіб?

In [12]:
highest_excess_mortality = data.loc[data['excess_mortality_cumulative_per_million'].idxmax(), 'location']
highest_excess_mortality

'Bulgaria'

5. Скільки країн мають позитивний показник вище середньосвітового показника?

In [19]:
average = data['positive_rate'].mean()
above_average = data[data['positive_rate'] > average]['location'].nunique()
above_average

153

6. У скількох країнах загальна кількість смертей перевищує загальну кількість випадків?

In [23]:
deaths_greater_than_cases = data[data['total_deaths'] > data['total_cases']]['location'].nunique()
deaths_greater_than_cases

28

7. Яке середнє значення позитивних тестів для країн з населенням понад 1 мільйон?

In [59]:
large_population = data[data['population'] > 1000000]
average_positive = np.mean(large_population['positive_rate'])
average_positive

0.10009453457384637

8. Яка країна з найнижчим загальним співвідношенням тестів на випадок?

In [60]:
data['tests_per_case'] = data['total_tests'] / data['total_cases']
country_highest_tests_per_case_ratio = data.loc[data['tests_per_case'].idxmin()]['location']
country_highest_tests_per_case_ratio

'Canada'

9. Яка загальна кількість проведених тестів на Covid-19 на тисячу людей для кожного континенту?

In [61]:
data['tests_per_thousand'] = data['total_tests'] / data['population'] * 1000
total_tests_per_thousand = data.groupby('continent')['tests_per_thousand'].sum()
total_tests_per_thousand

continent
Africa           8.799107e+05
Asia             1.598658e+07
Europe           4.756787e+07
North America    4.085786e+06
Oceania          2.256870e+06
South America    2.192770e+06
Name: tests_per_thousand, dtype: float64

10. В якій країні найвищий відсоток повністю вакцинованих?

In [64]:
country_highest_percentage_fully_vaccinated = data.loc[data['people_fully_vaccinated'].div(data['population']).idxmax()]['location']
country_highest_percentage_fully_vaccinated

'Gibraltar'